@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --transition: all 0.3s ease-in-out;
    --slideHeight: 400px;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: white;
}

.slider {
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.slide {
    width: 59px;
    background: var(--bg) center / auto 100% ;
    border-radius: 32px;
    display: grid;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    height: var(--slideHeight);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    filter:saturate(20%)
}
.slide.active {
width: 580px;
height: calc(var(--slideHeight) + 20px);
box-shadow: 0 16px 32px rgba(0,0,0,0.7);
background-size: auto 150%;
filter:saturate(100%)
}
.slide::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}
.slide__content {
    --size: 40px;
align-self:end;
color: white;
padding: 10px;
display: grid;
grid-gap: 8px;
grid-template-columns: var(--size) 1fr;
align-items: center;
line-height: 1.2em;
position: relative;
transition: var(--transition);
}
.slide.active .slide__content {
    padding: 20px;
}
.slide__icon {
    height: var(--size);
    background-color: white;
    border-radius: 100px;
    align-self: end;
    display: grid;
    align-items: center;
    justify-items: center;
}

.slide__icon .material-symbols-outlined {
  font-size: calk(var(--size) / 1.8);
  color: #df5fc9;
}
.slide:nth-child(2) .material-symbols-outlined{
    color: #1d2be7
}
.slide:nth-child(3) .material-symbols-outlined{
    color: #249c42
}
.slide:nth-child(4) .material-symbols-outlined{
    color: #aac922
}
.slide:nth-child(5) .material-symbols-outlined{
    color: #d1503f
}
.slide__title,
.slide__desc {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    transition: var(--transition) 0.2s;
    opacity: 0;
    margin-left: 16px;
}
.slide.active .slide__title,
.slide.active .slide__desc {
    opacity: 1;
    margin-left: 0;
   
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
